@use '../../styles/mixin.scss' as *;
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;

  @include tablet {
    min-height: 60vh;
  }

  .hero-container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    @include tablet2 {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .hero-content {
      flex: 1;
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .hero-tag {
        font-weight: 500;
        letter-spacing: 2px;
        color: var(--purple);
        text-transform: uppercase;
      }
      .hero-title {
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: 1px;
        .hero-highlight {
          color: var(--purple);
        }
      }
      .hero-description {
        font-weight: 300;
        line-height: 2.5rem;
        color: var(--muted);
      }
      .hero-btn {
        cursor: pointer;
        padding: 1rem 2rem;
        font-size: 2rem;
        border: 1px solid var(--neutral);
        border-radius: 1.5rem;
        background-color: transparent;
        color: var(--text);
        width: fit-content;
        transition: all 0.4s ease-in;

        &:hover {
          border-color: var(--muted);
          box-shadow: 2px 2px 10px var(--glass);
        }
      }
    }

    .hero-media {
      flex: 1;
      max-width: 40rem;
      @include tablet2 {
        max-width: 30rem;
      }
      .hero-grid {
        height: 100%;
        padding: 2.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        border: none;
        border-radius: 1.8rem;
        box-shadow: 2px 2px 12px var(--neutral);
        .hero-grid-item {
          background-color: transparent;
          border: 1px solid var(--muted);
          border-radius: 2rem;
          padding: 4rem 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease-in-out;
          &:hover {
            box-shadow: 2px 2px 12px var(--soft);
          }
        }
      }
    }
  }
}

.stats {
  min-height: 20vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid var(--muted);
  border-bottom: 1px solid var(--muted);

  @include tablet {
    min-height: 10vh;
  }
  .stats-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-right: 1px solid var(--muted);
    &:last-child {
      border-right: none;
    }
    .stats-number {
      font-size: 4rem;
      font-weight: 600;
      color: var(--purple);

      @include tablet2 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .stats-label {
      font-size: 1.5rem;
      color: var(--textLite);
      margin-top: 0.25rem;

      @include tablet2 {
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }
}

.value-cards {
  padding: 6rem 2rem;
  border-bottom: 1px solid var(--muted);

  .value-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    .value-tag {
      color: var(--purple);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1rem;
    }

    .value-title {
      font-size: 4rem;
      font-weight: 400;
    }
  }

  .cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1.5rem;
    flex-wrap: wrap;
    .card {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 2rem;
      border: 1px solid var(--muted);
      border-radius: 1rem;
      width: 100%;
      max-width: 22rem;
      min-height: 20rem;

      .card-icon {
        width: fit-content;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid var(--muted);
        @include tablet2 {
          font-size: 1rem;
        }
      }
      .card-title {
        font-size: 2rem;

        @include tablet2 {
          font-size: 1.6rem;
        }
      }

      .card-desc {
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 3rem;
        color: var(--textLite);

        @include tablet2 {
          font-size: 1rem;
          letter-spacing: 1px;
          line-height: 1.3rem;
        }
      }
    }
  }
}

.timeline-history {
  padding: 6rem 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-bottom: 1px solid var(--muted);
  .timeline-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    max-width: 40rem;
    width: 100%;
    .timeline-tag {
      color: var(--purple);
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      @include mobile {
        letter-spacing: 0.2rem;
        font-size: 1rem;
      }
    }
    .timeline-title {
      font-size: 4rem;
      font-weight: 400;
      @include tablet2 {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
    .timeline-desc {
      letter-spacing: 1px;
      line-height: 2rem;
      color: var(--textLite);
      @include tablet2 {
        font-size: 1.6rem;
      }
      @include mobile {
        letter-spacing: 0.1rem;
        font-size: 1rem;
      }
    }
  }

  .timeline {
    width: 36rem;
    border-left: 2px solid var(--neutral);
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include mobile {
      width: 30rem;
      padding-left: 1rem;
    }
    .timeline-item {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        background-color: var(--purple);
        top: 50%;
        left: -3rem;
        transform: translateY(-50%);
        @include mobile {
          left: -1.5rem;
        }
      }
      .timeline-year {
        font-size: 2rem;
        font-weight: 500;
        color: var(--purple);
        text-transform: uppercase;
        letter-spacing: 1px;
        @include mobile {
          font-size: 1.6rem;
        }
      }
      .timeline-detail {
        margin-top: 0.5rem;
        letter-spacing: 1.5px;
        line-height: 2rem;
        color: var(--textLite);
        @include mobile {
          letter-spacing: 0.1rem;
          font-size: 1rem;
        }
      }
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 6rem 2rem;
  .cta-heading {
    font-size: 4rem;
    font-weight: 600;

    @include tablet2 {
      font-size: 3rem;
    }
  }

  .cta-desc {
    color: var(--textLite);
    @include tablet2 {
      font-weight: 600;
      text-align: center;
    }
  }

  .cta-actions {
    display: flex;
    gap: 2rem;
    .cta-btn {
      cursor: pointer;
      padding: 1rem 3rem;
      border: 1px solid var(--muted);
      font-size: 2rem;
      font-weight: 600;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;

      @include mobile {
        font-size: 1.6rem;
      }

      &:hover {
        color: var(--purple);
      }
    }
  }
}
