.app {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.6s ease-in-out,
    color 0.6s ease-in;
  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }
}
