@use '../../styles/mixin.scss' as *;

.product {
  padding: 2rem 5rem;
  display: flex;
  gap: 5rem;
  @include mobile {
    flex-direction: column;
  }
  .left {
    flex: 1;
    display: flex;
    gap: 2rem;
    .images {
      flex: 1;

      img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 1rem;
        object-position: top;

        @include tablet {
          height: auto;
        }
      }
    }
    .mainImage {
      flex: 5;

      img {
        width: 100%;
        max-height: 80rem;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .price {
      font-size: 2rem;
      font-weight: bolder;
    }

    p {
      font-size: 1.8rem;
      font-weight: 300;
      text-align: justify;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        font-size: 2rem;
      }
    }
    .add {
      width: 25rem;
      padding: 1rem;
      background-color: var(--primary);
      color: var(--text);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      border: none;
    }

    .links {
      display: flex;
      gap: 4rem;

      .items {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: var(--primary);
        font-size: 1.4rem;
        cursor: pointer;
        transition: all 0.5s ease-in;

        &:hover {
          transition: all 0.5s ease-out;
          color: var(--danger);
        }
      }
    }
    hr {
      border: 1px solid var(--muted);
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--muted);
      margin-top: 3rem;

      hr {
        width: 20rem;
        border: 1px solid var(--glass);
      }
    }
  }
}
