@use '../../styles/mixin.scss' as *;
.contact {
  background-color: var(--secondary);
  color: var(--surface);
  padding: 1.5rem;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      min-width: 90%;
    }
    @include mobile {
      flex-direction: column;
      gap: 2rem;
    }

    input {
      padding: 1rem;
      border: none;
      border-radius: 1rem 0px 0px 1rem;
    }

    button {
      padding: 1rem;
      border: none;
      border-radius: 0px 1rem 1rem 0px;
      background-color: var(--base);
      color: var(--surface);
    }

    .icons {
      display: flex;
      gap: 1rem;
      cursor: pointer;
    }
  }
}
